<div class="row">
  <div class="col-md-8">
    <div id="projects">
      <h2>
        <%= t "layout.projects" %>
        <% if can? :create, Project %>
          <%= link_to new_project_path, class: "btn btn-info pull-right",
            title: t("projects.new") do %>
            <i class="fa fa-plus" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </h2>
      <div id="searches" class= "col-md-10">
        <%= search_form_for(@search, url: searches_path,
          html: { method: :get }) do |f|%>
          <div class="row">
            <div class= "col-md-1 label-search-name">
              <%= f.label :name %>
            </div>
            <div class= "col-md-8">
              <%= f.text_field :name_cont, class: "form-control" %>
            </div>
            <div class="actions col-md-2"><%= f.submit %> </div>
          </div>
        <% end %>
      </div>
      <% if @projects.any? %>
        <table class="table table-striped" id="tbl-list-project">
          <thead>
            <tr>
              <th class="id"><%= t "projects.table.thead.id" %></th>
              <th class="name"><%= t "projects.table.thead.name" %></th>
            </tr>
          </thead>
          <% @projects.each_with_index do |project, index| %>
            <tr>
              <td class="id"><%= index + 1 %></td>
              <td class="name">
                <%= link_to project.name, project_path(project) %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
      <div class="page col-md-12">
        <%= paginate @projects, theme: 'twitter-bootstrap-3' %>
        <%= page_entries_info @projects %>
      </div>
    </div>
  </div>
</div>
